@model IEnumerable<Proiect_DAW_Cinemavazut.Models.Categorii_filme>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.denumire)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.denumire)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_categorie">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id_categorie">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id_categorie">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
